{% extends 'base.html.twig' %}

{% block title %}Hello TricountController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Tricount ✅</h1>

    {{ form_start(Tricount) }}
        {{ form_widget(Tricount) }}
            <button class="btn">{{ button_label|default('save') }}</button>
    {{ form_end(Tricount) }}
</div>
{% endblock %}
