{% extends 'base.html.twig' %}

{% block body %}

    <div style="display:flex; justify-content:center;">
        <div>
            {% if app.user %}
                Vous êtes connectez avec {{ app.user.username }}
                <p>Lien d'invitation du tricount : {{ invitation_link }}</p>
            {% else %}
                <h1>Welcome to TriCount Wish !</h1>
                <a href="{{ path("app_register") }}">Connect to your Account</a>
            {% endif %}
        </div>
    </div>
{% endblock %}